In [1]:
import pandas as pd
import numpy as np

df_customers = pd.read_excel('Manta customers.xlsx')
df_product_sales = pd.read_excel('Manta product sales per month.xlsx')
df_products = pd.read_excel('Manta products.xlsx')

display(df_customers.head())
display(df_product_sales.head())
display(df_products.head())

  Retailer Code    ZIP Country       City              Shop Type
0    FRLEQAUR01     31      FR   Toulouse                fashion
1    FRFEEPER01     66      FR  PERPIGNAN          concept_store
2    FRCOTCAN01   6400      FR     Cannes  gifts,home/decoration
3    FRSOLPER01   6600      FR  PERPIGNAN            food/drinks
4    FRTERTRO01  10000      FR     Troyes        home/decoration

,brand,sku,2024 09-Sep Euro,2024 10-Oct Euro,2024 11-Nov Euro,2024 12-Dec Euro,2025 01-Jan Euro,2025 02-Feb Euro,2025 03-Mar Euro,2025 04-Apr Euro,2025 05-May Euro,2025 06-Jun Euro,2025 07-Jul Euro,2025 08-Aug Euro,SoldItems
0,Winkee,11849,24.0,108.0,36.0,132.0,72.0,12.0,12.0,42.0,48.0,72.0,NaN,NaN,558
1,Winkee,12364,96.0,24.0,96.0,12.0,48.0,24.0,12.0,NaN,NaN,12.0,24.0,NaN,348
2,Winkee,13407,48.0,48.0,12.0,36.0,12.0,NaN,36.0,30.0,12.0,NaN,12.0,NaN,246
3,Winkee,14925,60.0,NaN,60.0,20.0,20.0,NaN,30.0,NaN,NaN,NaN,NaN,NaN,190
4,Winkee,16117,16.0,NaN,16.0,32.0,48.0,32.0,NaN,16.0,NaN,NaN,NaN,NaN,160

,sku,brand_name,ean,name,short_description,description,launch_season
0,BF27 PASTEL BLUE,Asobu,842591057199,Aspen Bottle Pastel Blue,NaN,NaN,2024.2
1,BF27 PASTEL GREEN,Asobu,842591057168,Aspen Bottle Pastel Green,NaN,NaN,2024.2
2,BF27 PASTEL PEACH/ORANGE,Asobu,842591057182,Aspen Bottle Pastel Peach/Orange,NaN,NaN,2024.2
3,BF27 PASTEL PINK,Asobu,842591057205,Aspen Bottle Pastel Pink,NaN,NaN,2024.2
4,BF52 PASTEL BLUE,Asobu,842591057274,Coffee Express Tumbler Pastel Blue,NaN,NaN,2024.2